<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raaka-aineet</h1>

        <ul>
            <li th:each="raakaaine: ${raakaaineet}">
                <span th:text="${raakaaine.nimi}">Raaka-aineen nimi</span>
            </li>
        </ul>

        <h2>Uusi raaka-aine</h2>

        <form method="POST" action="/raakaaineet">
            <input type="text" name="nimi"/><br/><br/>
            <input type="submit" value="Luo"/>
        </form><br/>   
        <a href="smoothiet.html">Takaisin smoothielistaukseen</a>
</body>
</html>