<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Smoothiet</h1>

        <ul>
            <li th:each="smoothie : ${smoothiet}">
                <a th:href="@{~/smoothiet/{id}(id=${smoothie.id})}">
                    <span th:text="${smoothie.nimi}">Smoothie</span>
                </a>              
            </li>
        </ul>

        <h2>Uusi smoothie</h2>        

        <form method="POST" action="/smoothiet">
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Luo smoothie"/>
        </form>

        <h2>Lisaa raaka-aine</h2> 

        <form method="POST" action="/smoothiet2">

            Smoothien nimi:<br/>
            <select name="smoothieId">
                <option th:each="smoothie: ${smoothiet}" th:value="${smoothie.id}" th:text="${smoothie.nimi}">
                    Smoothien nimi
                </option>
            </select><br/>
            Uusi raaka-aine:<br/>
            <select name="raakaaineId">
                <option th:each="raakaaine: ${raakaaineet}" th:value="${raakaaine.id}" th:text="${raakaaine.nimi}">
                    Raaka-aine
                </option>
            </select><br/>            
            Jarjestys:<br/>
            <input type="text" name="jarjestysId"/><br/>
            Maara:<br/>
            <input type="text" name="maaraId"/><br/>
            Ohje:<br/>
            <input type="text" name="ohjeId"/><br/>

            <input type="submit" value="Lisaa raaka-aine"/>
        </form>
    </body>
</html>